
@{
    ViewBag.Title = "Index";
}

<h2><b>Webshop of Legends</b></h2>
<main>
    <center>
        Sell your mother and buy some shit on this legendary webshop!

        <br />
        @Html.ActionLink("Start shopping!", "Shopping", "Products",
                new { area = "" },
                new
                {
                    @class = "t-button",
                    @style = "width:240px; color:blue; text-align:center"
                })


        @using (Html.BeginForm("OrderSearch", "Orders"))
            {
            <p>
                <br> Search for your order: @Html.TextBox("SearchString") <br />
                
                <input type="submit" value="Search" />
            </p>
        }
    </center>

</main>


